body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set font family and default text color */
body {
    font-family: Arial, sans-serif;
    color: #333;
}
h2.bdy{
    text-align: center;
    padding: 1rem;
}
h2.vehicle{
    text-align: center;
    padding: 1rem;
}
p.container{
    background-color: #ccc;
    padding: 1rem;
    line-height: 150%;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

/* Header styles */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Main content styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* Footer styles */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="username"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #4c4eaf;
    color: white;
    padding: 0.6rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
input[type="reset"] {
    background-color: #ee0707;
    color: white;
    padding: 0.6rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}